/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* GENERAL SETTINGS */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/*  -------------------
    |                 |
    |    HEADER       |
    |                 |
    -------------------  */

header {
    width: 100%;
    height: 80px;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

header img {
    width: 75px;
    height: 53px;
    margin-left: 24px;
}

header ion-icon {
    width: 43px;
    height: 31px;
    margin-right: 24px;
}

/*  --------------------------------------------------   */

/*  -------------------
    |                 |
    |    LOGIN        |
    |                 |
    -------------------  */

.login {
    width: 100%;
}

.img-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 72px auto;
}

.img-login img {
    width: 130px;
}

.user-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.user-login-input {
    margin: 20px auto;
    position: relative;
}

.user-login input {
    width: 261px;
    height: 54px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    outline: 0;
    transition: 500ms;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-left: 15px;
    transition: 200ms;
    
}

.user-login input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    text-align: center;
    color: #AEAEAE;
}

.user-login button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.user-login button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.user-login button:active {
    transform: translateY(-1px);
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-60%);
    z-index: 1;
}

.spinner {
    width: 100px;
    height: 100px;
}






/*  -------------------
    |                 |
    |    MAIN         |
    |                 |
    -------------------  */

main {
    margin-top: 105px;
    margin-bottom: 80px;
}

.messages {
    width: 100%;
    min-height: 40px;
    height: 110%;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 2px;
    border: 1px solid #rgba(220,220,220, 0.3);
}

.messages h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.time {
    margin: 0 10px;
}

.time h6 {
    color: #AAAAAA;
}

.texto {
    word-break: keep-all;
}

.recipient {
    margin-right: 5px;
}

.recipient span {
    font-weight: bold;
}

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}

/*  --------------------------------------------------   */




/*  -------------------
    |                 |
    |    FOOTER       |
    |                 |
    -------------------  */

footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer ion-icon {
    width: 26px;
    height: 26px;
    margin-right: 24px;
    margin-left: 5px;
}

.footer-input {
    margin-left: 20px;
    border: none;
    width: 90%;
    min-width: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    outline: 0;
}

::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    font-style: italic;
    color: #000000;
}

/*  --------------------------------------------------   */

.none {
    display: none;
    transition: 400ms ease-in-out;
}